<div class="bigBlue">
	<h2 class="hello">Hello, wor</h2>
	<div class="basicElement">
		Rendering stuff...
	</div>
	<i class="icon fas fa-vials"></i>
	<div class="iconComment"> Here's a Fontawesome icon !</div>
</div>
