
<div class="addressList bar">

	<div class="addresses">
	{{#each addresses}}
		<a class="address" data-href="{{this}}">{{this}}</a>
	{{/each}}
	</div>
	<div class="dropdownButton button"><span class="caret"></span>
</div>
