<div class="dataPath bar" title="Data path">
	<div class="path" title="{{path}}">{{shortPath}}</div>
	<div class="browseButton button" title="Change path"><span class="glyphicon glyphicon-folder-open"></span></div>
</div>
