<div id="header-backButton">
	<i class="far fa-arrow-left"></i>
</div>
<div id="header-searchfield" class="input-group input-group-sm">
	<input type="text" class="form-control songSearchfield" placeholder="Search" value="" autocomplete="off">
	<span class="input-group-addon">
		<i class="fas fa-fw fa-times-circle searchfield-icon remove-query-icon"></i>
		<i class="fas fa-fw fa-search searchfield-icon search-icon"></i>
	</span>
</div>
<div id="header-labels">
	<a class="editLabelsButton">
		<i class="editLabelsIcon fas fa-filter"></i>
	</a>
	<div class="labelList"></div>
</div>
<div id="header-brand" class="navbar-header">
	<a class="navbar-brand">Happi-Karaoke</a>
</div>
<div id="header-controls" class="">
	<a class="controlItem toggleChords">
		<i class="chordsIcon far fa-music fa-lg fa-fw"></i>
	</a>
	<a class="controlItem keychange">
		<i class="keychangeIcon far fa-sliders-v-square fa-lg fa-fw"></i>
	</a>
	<a class="controlItem qrcode">
		<i class="qrcodeIcon fas fa-qrcode fa-lg fa-fw"></i>
	</a>
	<a class="controlItem login">
		<i class="loginIcon fas fa-user-slash fa-lg fa-fw"></i>
		<i class="logoutIcon fas fa-user fa-lg fa-fw"></i>
	</a>
</div>
