<div class="modal-content">
	<div class="modal-header">
		<h2 class="modal-title">Select labels</h5>
	</div>
	<div class="modal-body">
		<div id="label-searchfield" class="input-group">
			<input type="text" class="form-control labelSearchfield" placeholder="Search label" value="" autocomplete="off">
			<span class="input-group-addon">
				<i class="fas fa-fw fa-times-circle searchfield-icon remove-query-icon"></i>
				<i class="fas fa-fw fa-search searchfield-icon search-icon"></i>
			</span>
		</div>
		<div id="labelSelector"></div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="submitButton btn btn-primary">Enter</button>
		<button type="button" class="dismissButton btn btn-secondary" data-dismiss="modal">Close</button>
	</div>
</div>
