<div class="statusDetails">
	<div class="statusItem details">{{artist}} &mdash; {{title}}</div>
</div>
<div id="displayCurrentSongButton" class="statusItem">
	<i class="far fa-arrow-right"></i>
</div>
