<div class="modal-content">
	<div class="modal-header">
		<h2 class="modal-title">Please enter Master Pin</h5>
	</div>
	<div class="modal-body">
		<form class="text-field" action="" method="">
			<input type="password" class="text-input" autofocus>
		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="submitButton btn btn-primary">Enter</button>
		<button type="button" class="dismissButton btn btn-secondary" data-dismiss="modal">Close</button>
	</div>
</div>
