<div class="modal-content">
	<div class="modal-header">
		<h2 class="modal-title">You are about to log out.</h5>
	</div>
	<div class="modal-footer">
		<button type="submit" class="submitButton btn btn-primary">Proceed</button>
		<button type="button" class="dismissButton btn btn-secondary" data-dismiss="modal">Cancel</button>
	</div>
</div>
