
.hello {
	color: red;
}
.bigBlue{
	color: darkblue;
	font-size: 30px;
	font-family: 'Ubuntu';
}
.basicElement{
	color: darkgreen;
	font-size: 20px;
	font-family: 'Ubuntu';
}
.icon{
	font-size: 40px;
	color: rgba(black, .4);
	margin: 10px;
}
.iconComment{
	font-size: 12px;
	font-family: 'Ubuntu';
	color: rgba(darkred, .4);
}
body{
	background-color: lightblue;
}
